<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Sweater Weather</title>
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='SweaterWeather.css') }}">
	</head>
	<body>
		<div class="container">
			<form action="" class="search-bar" method="post">
				<input type="text" name="location" placeholder="Search for a city">
				<button type="submit">
					<img src="/static/assets/search.png" width="15" height="15" alt="Search">
				</button>
			</form> <br>
			<form method="post">
				<div class="big-box">
					<div class="photo">
						<img src="/static/assets/partly_cloudy.png" alt="Weather">
					</div>
					<div class="text">
						<p style="color:black; font-size:150%;">Current Temp: {{current_temp}}<br> Feels Like: {{feels_temp}}</p>
					</div>
					<div class="list">
						<ul>
							<li>Item 1</li>
							<li>Item 2</li>
							<li>Item 3</li>
						</ul>
					</div>
					<div class ="formBox">
						<input type="radio" id="choice3" name="radioChoice" value="PastData">
						<label for="choice3"> View past data</label><br>

						<label for="start"> Choose a date to view past weather data: </label>
						<input type="date" id="PastDate" name="PastDate"
							value="{{today}}"
							min="1978-01-01" max="{{today}}"><br><br>

						<input type="radio" id="choice4" name="radioChoice" value="FutureData">
						<label for="choice4">View Future data</label> <br>

						<label for="start"> Choose a date to view future weather data: </label>
						<input type="date" id="FutureDate" name="FutureDate"
							value="{{future_min}}"
							min="{{future_min}}" max="{{future_max}}"><br><br>
						
						
						<input type="submit" value="GO!" /> <br>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>
