<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Sweater Weather</title>
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='SweaterWeather.css') }}">
	</head>
	<body>
		<h1>This is Sweater Weather</h1>
		<p>Sweater weather is an upcoming project designed by three KU students to
			provide accessible weather data from 1978 to the current day.</p>
		<div class="formSubmission">
			<form method="post">
				<div class ="formBox">
					  
					<input type="radio" id="choice1" name="radioChoice" value="CurrentData">
					<label for="choice1"> View current weather data</label><br>

					<input type="radio" id="choice2" name="radioChoice" value="PastData">
					<label for="choice2"> View past data</label><br>

					<label for="start">Please choose the date if checking past weather data: </label>
					<input type="date" id="WeatherDate" name="WeatherDate"
						value="2023-04-15"
						min="1978-01-01" max="2023-04-15"><br>

					<input type="radio" id="choice3" name="radioChoice" value="Forecast">
					<label for="choice3"> View forecast</label><br>
					<input type="submit" value="GO!" /> <br> <br>

					<label for="location">Enter a Location: </label>
					<input name="location" placeholder="e.g. Lawrence, KS">
					<input type="submit" value="Search">

				</div>
			</form>
		</div>
	</body>
</html>
